{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="" method="post" class="form-contact">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email: </label>
        <input type="text" name="email" value="" class="form-control" id="exampleInputEmail1"
               aria-describedby="emailHelp" required/>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Пароль: </label>
        <input type="password" name="psw"
               class="form-control"
               id="exampleInputPassword1"
               value="" required/>
    </div>
    <div class="form-check">
        <input type="checkbox" name="remainme" class="form-check-input" value="" id="flexCheckDefault"/>
        <label class="form-check-label" for="flexCheckDefault">
            Запомнить меня
        </label>
        <input type="submit" value="Войти" class="btn btn-primary"/>
        <hr align=left width="300px">
        <a href="{{url_for('register')}}">Регистрация</a>
    </div>
</form>
{% endblock %}